<<<<<<< HEAD
.rame {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
=======
.rame {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
>>>>>>> 2f6eba390b64448e08563b915e128328af8c6781
}